<section class="mt-8 w-full border-y border-black text-[#1d1d1d]">
  <div class="grid grid-cols-12 border-b border-black text-center text-xs font-semibold">
    <div class="col-span-3 border-r border-black px-2 py-2">Marks and Numbers</div>
    <div class="col-span-2 border-r border-black px-2 py-2">Number and Type of Packages</div>
    <div class="col-span-3 border-r border-black px-2 py-2">Description of goods</div>
    <div class="col-span-2 border-r border-black px-2 py-2">Weight KGS</div>
    <div class="col-span-1 px-2 py-2">Measurement M3</div>
  </div>

  <div class="grid min-h-[380px] grid-cols-12 text-[1rem] leading-7">
    <div class="col-span-3 border-r border-black px-6 py-10">
      <p class="text-xs">Case Mark</p>
      <p class="text-xs">KOBE/JAPAN</p>
      <p class="text-xs">3,500 CARTONS</p>
    </div>

    <div class="col-span-2 border-r border-black px-6 py-10 text-center font-semibold">
      <p class="text-xs">3,500 CARTONS</p>
    </div>

    <div class="col-span-3 border-r border-black px-6 py-10">
      <p class="text-xs">1 x 40HQ SAID TO CONTAIN</p>
      <p class="text-xs">BODY SOAP F 800ml</p>
      <p class="text-xs">BODY SOAP U 800ml</p>
      <p class="text-xs">HS CODE: 3307.30.00</p>
      <p class="text-xs font-bold mt-8">Invoice No: BNP18954</p>
      <p class="text-xs">Date: 21st Feb 2026</p>
      <p class="mt-8 font-semibold">" SHIPPER LOAD &amp; COUNT"</p>
    </div>

    <div class="col-span-2 border-r border-black px-4 py-10 text-center">
      <p class="text-xs">N.W 14,390kg</p>
      <p class="text-xs">G.W. 14,510kg</p>
    </div>

    <div class="col-span-1 px-4 py-10 text-center">
      <p class="text-xs">25.40CBM</p>
    </div>
  </div>
</section>
