<section class="mt-8 w-full border-y border-slate-300 text-[#1d1d1d]">
  <div class="overflow-x-auto">
    <table class="w-full border-x border-slate-300 table-fixed border-collapse text-xs">
      <thead>
        <tr class="border-b border-slate-300 text-center font-semibold">
          <th class=" border-r border-slate-300 p-1 text-gray-600 bg-slate-200">
            Marks and Numbers
          </th>
          <th class=" border-r border-slate-300 p-1 text-gray-600 bg-slate-200">
            Number and Type of Packages
          </th>
          <th class=" border-r border-slate-300 p-1 text-gray-600 bg-slate-200">
            Description of goods
          </th>
          <th class=" border-r border-slate-300 p-1 text-gray-600 bg-slate-200">
            Weight KGS
          </th>
          <th class=" p-1 text-gray-600 bg-slate-200">
            Measurement M3
          </th>
        </tr>
      </thead>

      <tbody class="align-top text-[0.75rem] leading-5">
        <tr class="min-h-[380px]">
          <td class="border-r border-slate-300 px-6 py-6">
            <p>Case Mark</p>
            <p>KOBE/JAPAN</p>
            <p>3,500 CARTONS</p>
          </td>
          <td class="border-r border-slate-300 px-6 py-6 text-center font-semibold">
            <p>3,500 CARTONS</p>
          </td>
          <td class="border-r border-slate-300 px-6 py-6">
            <p>1 x 40HQ SAID TO CONTAIN</p>
            <p>BODY SOAP F 800ml</p>
            <p>BODY SOAP U 800ml</p>
            <p>HS CODE: 3307.30.00</p>
            <p class="mt-4 font-bold">Invoice No: BNP18954</p>
            <p>Date: 21st Feb 2026</p>
            <p class="mt-4 font-semibold">" SHIPPER LOAD &amp; COUNT"</p>
          </td>
          <td class="border-r border-slate-300 px-4 py-6 text-center">
            <p>N.W 14,390kg</p>
            <p>G.W. 14,510kg</p>
          </td>
          <td class="px-4 py-6 text-center">
            <p>25.40CBM</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
