<section class="border-x border-black text-[10px] leading-[1.35]">
  <div class="grid grid-cols-2">
    <div class="border-r border-black">
      <div class="h-28 border-y border-black p-2">
        <p class="font-bold uppercase">Shipper:</p>
        <p class="mt-1">
          SLV EXPORTS AND IMPORTS PRIVATE LIMITED<br />
          MANJEERA TRINITY CORPORATE,<br />
          PLOT NO. S2, SURVEY NO. 1050 UNIT NO. 810 &amp; 811, KUKATPALLY, JNTU ROAD,<br />
          TELANGANA STATE, INDIA
        </p>
      </div>

      <div class="h-28 border-b border-black p-2">
        <p class="font-bold uppercase">Consignee:</p>
        <p class="mt-1">
          JR PRODUCE CORP<br />
          22750 SW 134TH AVE<br />
          MIAMI, FLORIDA 33170<br />
          UNITED STATES OF AMERICA (USA)
        </p>
      </div>

      <div class="h-28 border-b border-black p-2">
        <span class="flex flex-row gap-1 items-center">
          <p class="font-bold uppercase">Notify Address:</p>
          <p class="text-[9px]">(Carrier not responsible for failure to notify)</p>
        </span>
        <p class="mt-1">
          JR PRODUCE CORP<br />
          22750 SW 134TH AVE<br />
          MIAMI, FLORIDA 33170<br />
          UNITED STATES OF AMERICA (USA)
        </p>
      </div>

      <div class="">
        <div class="w-full flex flex-row">
          <div class="w-1/2 flex flex-col gap-1 border-b border-black">
            <p class="px-2 py-1 font-semibold">Vessel(s):</p>
            <p class="px-2 py-1">BERLIN EXPRESS / VIENNA EXPRESS</p>
          </div>
          <div class="w-1/2 flex flex-col gap-1 border-b border-black">
            <p class="px-2 py-1 font-semibold">Voyage-No.:</p>
            <p class="px-2 py-1">2016W / 068W</p>
          </div>
        </div>
        <div class="flex flex-col gap-1 border-b border-black">
          <p class="px-2 py-1 font-semibold">Port of Loading:</p>
          <p class="px-2 py-1">MUNDRA, INDIA</p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="px-2 py-1 font-semibold">Port of Discharge:</p>
          <p class="px-2 py-1">MIAMI PORT-FLORIDA, USA</p>
        </div>
      </div>

      <!-- <div>
        <div class="grid grid-cols-[7rem_1fr] border-b border-black">
          <p class="border-r border-black px-2 py-1 font-semibold">Shipped on board:</p>
          <p class="px-2 py-1">10-MAY-2020</p>
        </div>
        <div class="grid grid-cols-[7rem_1fr]">
          <p class="border-r border-black px-2 py-1 font-semibold">Freight term:</p>
          <p class="px-2 py-1">"FREIGHT PREPAID"</p>
        </div>
      </div> -->
    </div>

    <div>
      <header>
        <div class="flex justify-end border-t border-black">
          <div class="pl-20 py-4 pr-4">
            <img class="w-[250px] h-[40px]" src="{{getCarrierIcon('hapag-lloyd')}}" alt="Liner Logo" />
          </div>
        </div>
      </header>
      <div class="flex flex-row w-full">
        <div class="flex flex-col w-1/3 gap-2 border-y border-black">
          <p class="border-r border-black px-2 py-1 font-semibold">Carrier's Reference:</p>
          <p class="px-2 py-1">54502945</p>
        </div>
        <div class="flex flex-col w-1/3 gap-2 border-y border-black">
          <p class="border-r border-black px-2 py-1 font-semibold">SWB-No.:</p>
          <p class="px-2 py-1">HLCUBO1200545391</p>
        </div>
        <div class="flex flex-col w-1/3 gap-2 border-y border-black">
          <p class="px-2 py-1 font-semibold">Page:</p>
          <p class="px-2 py-1">2 / 3</p>
        </div>
      </div>
      <div class="grid grid-cols-[9rem_1fr] border-b border-black">
        <p class="border-r border-black px-2 py-1 font-semibold">Export References:</p>
        <p class="px-2 pb-14"></p>
      </div>
      <div class="grid grid-cols-[9rem_1fr] border-b border-black">
        <p class="border-r border-black px-2 py-1 font-semibold">Forwarding Agent:</p>
        <p class="px-2 pb-14"></p>
      </div>
      <div class="grid grid-cols-[9rem_1fr] border-b border-black">
        <p class="border-r border-black px-2 py-1 font-semibold">Consignee's Reference:</p>
        <p class="px-2 pb-8"></p>
      </div>
      <div class="h-28 grid grid-cols-[9rem_1fr] border-b border-black">
        <p class="border-r border-black px-2 py-1 font-semibold">Place of Receipt:</p>
        <p class="px-2">**HYDERABAD, 500072, INDIA.</p>
      </div>
      <div class="h-28 grid grid-cols-[9rem_1fr]">
        <p class="border-r border-black px-2 py-1 font-semibold">Place of Delivery:</p>
        <p class="px-2 border-black ">MIAMI PORT-FLORIDA, USA</p>
      </div>
    </div>
  </div>

</section>
