<section class="w-full border-t border-x border-slate-300 text-[#1d1d1d]">
  <div class="px-3 py-1 text-center text-sm font-bold text-gray-600 bg-slate-200">
    Details of cargo as declared by Shipper
  </div>

  <app-freight-detail
    label="Container Nos."
    value="FSCU8655688/MOL T99378N"
  ></app-freight-detail>

  <app-freight-detail
    label="Type of Service"
    value="CY/CY"
  ></app-freight-detail>

  <app-freight-detail
    label="Delivery Agent"
    value="HARPER JAPAN INC.
    SHIN NIHONBASHI BUILD 6F 8-2
    NIHONBASHI 4 CHOME
    CHUO-KU, TOKYO 103-0027, JAPAN
    TEL 03-3399-9863  FAX: 03-3399-9776"
  ></app-freight-detail>

  <div class="px-3 py-2 text-center text-sm font-bold text-gray-600 border-t border-dashed border-slate-300">
    As Agent for the Carrier HPS Container Lines
  </div>

  <app-freight-verification></app-freight-verification>
</section>
